@import '_var.scss';

.header {
  margin-bottom: 50px;
  padding: 25px 0 25px 0;
  background-color: $primary;
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 0.25));
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-link {
  font-family: "WorkSans", sans-serif;
  color: $white;
  font-size: 48px;
  line-height: 56px;
  font-weight: 300;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.nav-link {
  border-radius: 7px;
  padding: 18px 24px 14px 24px;
  background-color: $white;
  color: $primary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;

  &:focus-visible {
    background-color: $secondary-sky;
  }

  &:hover {
    background-color: $secondary-sky;
  }

  &--active {
    background-color: $info;
  }
}

@media (max-width: 767px) {
  .header-container {
    flex-direction: column;
    gap: 15px;
  }

  .header-link {
    text-align: center;
    font-size: 34px;
    line-height: 36px;
  }

  .header-nav {
    flex-wrap: wrap;
    gap: 10px 15px;
  }

  .nav-link {
    width: 46%;
    text-align: center;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
  }
}