$primary: #116ACC;
$primary-dark: #0a3563;
$secondary-black: #182233;
$secondary-sky: #B3CEE2;
$primary-grey: #E5E5E5;
$secondary-grey: #D9DDE7;
$light-grey: #F3F4F6;
// $secondary-sky: #FD4E5D;
$black: #000;
$info: #A0C3FF;
$success: #76CA66;
$warning: #FBC756;
$error: #BA0000;
$white: #fff



